/* primære design regler såsom typografi, basis */

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(52, 107, 108, 0.474) 0%, rgba(155, 140, 105, 0.3) 100%);

    font-family: var(--base-font);
    text-transform: uppercase;

    /* paddint-top:2em */
    /* padding-bottom:2em */
    
}


h1 {
    font-size: 4em;
    font-weight: 200;
}

h2 {
      font-size: 4em;
}

h3 li {
       font-size: 3em;
       font-weight: 200;
}

h4 {
    font-family: var(--accent-font);
    font-size: 1.5em;
    font-weight: 200;
}

h5 {
    font-family: var(--accent-font);
    font-size: 3em;
    text-transform: lowercase;
    font-weight: 200;
}

h6 {
      font-size: 1rem;
}

.italic{
    font-style: italic;
    text-transform: lowercase;
}

.list {
    list-style: none;
}




/* 
.event{
    background-color: green;
}

.subject-list{
    background-color: yellow;
}

.link-list{
    background-color: brown;
}

.quote{
    background-color: blueviolet;
}

.date{
    background-color: grey;
}

.time{
    background-color: pink;
}

.location{
    background-color: aquamarine;
}

.adress{
    background-color: purple;
}
.email{
    background-color: lightgreen;
} */