.footer{
    grid-row: 18/span 1;
    grid-column:1/span 9;
    
    display: grid;

    width: 100%; 
    margin: 2em;
    
    border-top: thin solid;
    border-bottom: double;
    padding: 1em;
}

p:first-of-type{
    grid-row: 1;
    grid-column: 1;

    border-left: thin;
}

p:last-of-type{
    grid-row: 1;
    grid-column: 2;
}
