/* kompositionen af siden, dit grid, hvor skal headeren være etc. Din wireframe. layout dvs. hvide og brede på enkelte elementer */
/* nyt tip skifter du mellem 100 width og 70% width så lave en class til hver. dine html elementer kan godt have flere class det skrives bare med et mellemrum i mellem eg: wrapper width 100 */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;

    text-align: center;
}

header {
    width: 70%;
    margin: 0 auto;
}

main {
    display: grid;
    grid: auto / repeat(9, 1fr);
    width: 100%;
    padding: 1em;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.footer {

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){

main{
    width: 80%;
}

.date{
    grid-row: 5/span 2;
    grid-column: 1/-1;

    background-color: var(--circle-color);
}

.link-list{
    grid-row: 7/span 1;
    grid-column: 1/-1;
}

.subject-list{
    grid-row: 8/span 1;
    grid-column: 1/-1;
}

.circle{
    display: none;
}
}