.time{
    grid-row: 1/span 2;
    grid-column: 5/span 1;

    writing-mode: vertical-rl;
    font-size: 2em;
    font-family: var(--base-font);

    border-left: var(--border-thin);
    border-right: var(--border-thin);
}